<table>
  <%OURDEVICES.each do |name, data|%>
  <tr>
    <% if name == @device[0] %>
    <td><b><%= name %></b>
      <% else%>
      <td><%= name %>
    <%end%>
    <% if !(s=@running[name]).blank? %>
      <% if s[:running] %>
        läuft bis <%= s[:end].show%>
      <% elsif !s[:start].nil? %>
        startet <%= s[:start].show%>
     <%end%>   
    <%end%>   
    </td>
   </tr>
   <% end %>
</table>
